:root {
  --font-family-heading: "Montserrat", sans-serif;
  --font-family-text: "Open Sans", sans-serif;
  --color-primary: #c69963;
  --color-primary-dark: #b28451;
  --color-secondary: #101d2c;
  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;
  --color-grey-dark-1: #54483a;
  --color-grey-dark-2: #6d5d4b; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: var(--font-family-text);
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2); }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(5, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

a {
  text-decoration: none;
  color: inherit; }

.image-wrapper {
  overflow: hidden; }

.btn--cta {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  transition: all 0.3s ease;
  padding: 0 3rem;
  font-size: 2rem; }
  .btn--cta:hover {
    color: var(--color-secondary);
    background-color: var(--color-primary); }

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.heading-1, .heading-2, .heading-3, .heading-4, .heading-5 {
  font-family: var(--font-family-heading);
  letter-spacing: 1px;
  font-weight: 300; }

.heading-1 {
  font-size: 8rem;
  color: var(--color-primary);
  line-height: 140%; }
  .heading-1--prefix {
    font-weight: 500; }
  .heading-1--animated {
    animation-name: fade-in-left;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    backface-visibility: hidden; }
  @media only screen and (max-width: 50em) {
    .heading-1 {
      font-size: 6rem; } }

.heading-2 {
  font-size: 5rem;
  color: var(--color-primary);
  font-weight: 500;
  line-height: 120%; }

.heading-3 {
  font-size: 3rem;
  line-height: 100%;
  text-transform: uppercase; }
  .heading-3--light {
    color: var(--color-grey-light-2); }
  .heading-3--dark {
    color: var(--color-secondary); }
  .heading-3--animated {
    animation-name: fade-in;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    backface-visibility: hidden; }
  @media only screen and (max-width: 50em) {
    .heading-3 {
      font-size: 2.5rem; } }

.heading-4 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--color-secondary); }

.heading-5 {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-primary);
  text-transform: uppercase; }

.header {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to bottom, rgba(198, 153, 99, 0.5), rgba(16, 29, 44, 0.8)), url("../assets/img/hero.jpg");
  background-size: cover;
  background-position: center center;
  display: grid;
  grid-template-rows: min-content 1fr min-content 1fr; }
  .header__content {
    grid-row: 3 / 4;
    padding: 0 20rem; }
    .header__content--welcome-text {
      font-size: 2.4rem;
      color: var(--color-grey-light-2); }
      .header__content--welcome-text-animated {
        animation-name: fade-in;
        animation-duration: 2s;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        backface-visibility: hidden; }
      @media only screen and (max-width: 50em) {
        .header__content--welcome-text {
          font-size: 2rem; } }
    @media only screen and (max-width: 75em) {
      .header__content {
        padding: 0 10rem; } }
    @media only screen and (max-width: 50em) {
      .header__content {
        padding: 0 5rem;
        background-position-x: 45%; } }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 20rem; }
  .navbar__logo {
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-primary); }
  .navbar__items {
    display: flex;
    justify-content: space-around;
    color: var(--color-grey-light-2);
    font-size: 2rem;
    list-style: none;
    letter-spacing: 1px; }
    .navbar__items--1, .navbar__items--2, .navbar__items--3, .navbar__items--4, .navbar__items--5 {
      padding: 0 3rem;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative; }
      .navbar__items--1:hover:not(.navbar__items--cta), .navbar__items--2:hover:not(.navbar__items--cta), .navbar__items--3:hover:not(.navbar__items--cta), .navbar__items--4:hover:not(.navbar__items--cta), .navbar__items--5:hover:not(.navbar__items--cta) {
        color: #ffffff; }
        .navbar__items--1:hover:not(.navbar__items--cta)::after, .navbar__items--2:hover:not(.navbar__items--cta)::after, .navbar__items--3:hover:not(.navbar__items--cta)::after, .navbar__items--4:hover:not(.navbar__items--cta)::after, .navbar__items--5:hover:not(.navbar__items--cta)::after {
          opacity: 1; }
      .navbar__items--1::after, .navbar__items--2::after, .navbar__items--3::after, .navbar__items--4::after, .navbar__items--5::after {
        content: "";
        position: absolute;
        width: 80%;
        height: 2px;
        background-color: #ffffff;
        left: 50%;
        bottom: -5px;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s ease; }
      @media only screen and (max-width: 50em) {
        .navbar__items--1, .navbar__items--2, .navbar__items--3, .navbar__items--4, .navbar__items--5 {
          display: none; } }
    .navbar__items--cta {
      padding: 0; }
      @media only screen and (max-width: 50em) {
        .navbar__items--cta {
          display: none; } }
    .navbar__items--menu {
      font-size: 4rem;
      display: none;
      color: #ffffff; }
      @media only screen and (max-width: 50em) {
        .navbar__items--menu {
          display: inline-block; } }
  @media only screen and (max-width: 75em) {
    .navbar {
      padding: 4rem 10rem; } }
  @media only screen and (max-width: 50em) {
    .navbar {
      padding: 3rem 5rem; } }

.about {
  grid-column: center-start / center-end;
  padding: 10rem 0; }
  .about__text {
    font-size: 2rem;
    letter-spacing: 1px;
    padding: 1rem 0; }

.amenities {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  padding: 3rem 0;
  background-color: var(--color-grey-light-1); }
  .amenities__wrapper {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    align-items: start;
    padding: 4rem 0; }

.amenity {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  .amenity__icon {
    color: var(--color-secondary);
    font-size: 3rem;
    grid-row: 1 / span 2;
    line-height: 100%; }
  .amenity__text {
    font-size: 1.8rem; }

.rooms {
  grid-column: center-start / center-end;
  padding: 10rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }
  .rooms__heading {
    grid-row: 1 / 2;
    grid-column: 1 / -1; }

.room .image-wrapper {
  border-radius: 0.8rem;
  max-height: 21rem;
  margin-bottom: 1rem; }

.room__picture {
  border-radius: 0.8rem;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-out; }
  .room__picture:hover {
    transform: scale(1.1); }

.room__features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  font-size: 1.8rem;
  margin: 1rem 0; }
  .room__features .icon {
    margin-right: 1rem; }

.room__cta {
  color: var(--color-secondary);
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  margin: 1rem 0;
  transition: color 0.3s ease; }
  .room__cta .icon {
    font-size: 2.6rem; }
  .room__cta:hover {
    color: var(--color-primary); }

.gallery {
  background-color: var(--color-grey-light-1);
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem; }
  @media only screen and (max-width: 50em) {
    .gallery {
      grid-gap: 1rem;
      padding: 1rem; } }
  .gallery__item {
    overflow: hidden; }
    .gallery__item--1 {
      grid-column: 1 / span 2;
      grid-row: 1 / span 5; }
    .gallery__item--2 {
      grid-column: 3 / span 3;
      grid-row: 1 / span 3; }
    .gallery__item--3 {
      grid-column: 6 / span 1;
      grid-row: 1 / span 2; }
    .gallery__item--4 {
      grid-column: 6 / 10;
      grid-row: 3 / 8; }
    .gallery__item--5 {
      grid-column: 7 / 10;
      grid-row: 1 / span 2; }
    .gallery__item--6 {
      grid-column: 1 / 3;
      grid-row: 6 / 8; }
    .gallery__item--7 {
      grid-column: 3 / span 3;
      grid-row: 4 / 8; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all 0.3s ease-out; }
    .gallery__img:hover {
      transform: scale(1.1); }

.footer {
  grid-column: full-start / full-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  background-color: var(--color-secondary); }
  .footer__content {
    list-style-type: none;
    color: var(--color-primary);
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 2rem 0; }
    .footer__content-item {
      padding: 0 2rem;
      transition: color 0.3s ease; }
      .footer__content-item:hover {
        color: var(--color-grey-light-1); }

.copyright {
  color: var(--color-grey-light-1);
  font-size: 1.5rem;
  font-weight: 300; }

.header--rooms {
  background-image: none;
  display: grid;
  grid-template-columns: 50vw 50vw; }
  @media only screen and (max-width: 50em) {
    .header--rooms {
      grid-template-columns: 1fr;
      grid-template-rows: 50vh 50vh; } }
  @media only screen and (max-width: 37.5em) {
    .header--rooms {
      grid-template-rows: auto min-content; }
      .header--rooms .heading-1 {
        font-size: 3rem; } }
  .header--rooms .btn--cta {
    grid-row: 3 / 4;
    justify-self: end;
    align-self: flex-end;
    margin-bottom: 4rem;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    backface-visibility: hidden; }
    @media only screen and (max-width: 50em) {
      .header--rooms .btn--cta {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .header--rooms .btn--cta {
        text-align: center;
        justify-self: stretch;
        margin-top: 1rem; } }
  .header--rooms .navbar {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 999999;
    padding: 5rem 8rem; }
    @media only screen and (max-width: 50em) {
      .header--rooms .navbar {
        align-self: flex-start;
        padding: 5rem 4rem; } }
    .header--rooms .navbar__items {
      color: #ffffff; }
      .header--rooms .navbar__items--back {
        transition: all 0.3s ease; }
        .header--rooms .navbar__items--back .navbar__items--link {
          display: flex;
          align-items: center; }
          .header--rooms .navbar__items--back .navbar__items--link .icon {
            font-size: 3rem;
            margin-right: 2rem; }
        .header--rooms .navbar__items--back:hover {
          color: var(--color-grey-light-2); }
  .header--rooms .header__content {
    padding: 0 5rem; }
    .header--rooms .header__content-heading {
      grid-row: 2 / 3; }
    .header--rooms .header__content--left {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
      background-image: linear-gradient(to bottom, rgba(198, 153, 99, 0.5), rgba(16, 29, 44, 0.8)), url("../assets/img/room-1-large.jpg");
      background-size: cover;
      background-position: center center; }
      @media only screen and (max-width: 50em) {
        .header--rooms .header__content--left {
          grid-row: 1 / 2; } }
    .header--rooms .header__content--right {
      background-color: var(--color-secondary);
      grid-row: 1 / -1;
      grid-column: 2 / 3;
      display: grid;
      grid-template-rows: 1fr min-content 1fr; }
      @media only screen and (max-width: 50em) {
        .header--rooms .header__content--right {
          grid-column: 1 / 2;
          grid-row: 2 / 3; } }
    .header--rooms .header__content--welcome-text {
      font-size: 1.8rem; }

.room-facts-list {
  list-style: none;
  padding: 2rem 0;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  backface-visibility: hidden; }
  .room-facts-list__item {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--color-grey-light-2); }
    .room-facts-list__item--highlight {
      margin-left: 1rem;
      font-size: 1.8rem;
      color: var(--color-primary); }
    .room-facts-list__item:not(:last-child) {
      margin-bottom: 1rem; }
