.amenities {
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns:
        [full-start] minmax(6rem, 1fr)
        [center-start] repeat(
            8,
            [col-start] minmax(min-content, 14rem) [col-end]
        )
        [center-end] minmax(6rem, 1fr) [full-end];

    padding: 3rem 0;
    background-color: var(--color-grey-light-1);

    &__wrapper {
        grid-column: center-start / center-end;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 6rem;
        align-items: start;
        padding: 4rem 0;
    }
}

.amenity {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;

    &__icon {
        color: var(--color-secondary);
        font-size: 3rem;
        grid-row: 1 / span 2; // span's over row 1 and 2
        line-height: 100%;
    }

    &__text {
        font-size: 1.8rem;
    }
}
